/* IMPORT header CSS */
@import url("header.css");

/* IMPORT FOOTER CSS */
@import url("footer.css");


*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
li{
    list-style: none;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}


/* ***************************   CONATCT US ************************** */

.contactUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #cadcfc;
    background-color: #00246b;
}

.contactUs .contactCointainer{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 10px;
    margin: 40px 0px 50px;
    background-color: #cadcfc;
    color: #00246b;
}

.contactUs .contactCointainer .contactTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contactUs .contactCointainer .contactTitle h2{
    font-size: 25px;
    font-weight: 600;
}

.contactUs .contactCointainer form{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactUs .contactCointainer form input,textarea{
    width: 100%;
    padding: 8px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    text-shadow: 3px 3px 2px rgba(36, 79, 248, 0.25);
    box-shadow: rgba(67, 71, 85, 0.6) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

}

.contactUs .contactCointainer form input::placeholder,textarea::placeholder{
    color: #5275bc;
}


.contactUs .contactCointainer form button{
    cursor: pointer;
    padding: 10px 45px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 40px; 
    background-color: #00246b;
    color: #cadcfc;
}

.contactUs .contactCointainer form button:hover{ 
    transition: 0.3s ease-in;
    color: #00246b;
    background-color: #87cefa;
}


/************************* Footer ***********************/
#footer{
    background-color: #cadcfc;
    color: #00246b;
}

#footer .footerLinks a{
    color: #00246b;
}

#footer .socialMediaLinksContainer {
    border-bottom: 1px solid #00246b;
  }

  #footer .copyRightContainer {
    text-align: center;color: #00246b;
  }
  #footer .socialMediaLinksContainer ul li a {
    
    color: #00246b;

  }

/* *******************   RESPONSIVE   ******************** */


@media only screen and (max-width:700px){
    .contactUs .contactCointainer{
        width: 60%;
    }
}