/* IMPORT header CSS */
@import url("header.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
li{
    list-style: none;
}

/*------------------------
  Forget Password - start 
------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
li{
    list-style: none;
}
.cointainer{
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

/* ********   LOGIN-PAGE   ********** */


.forgetPasswordContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cadcfc;
    background-color: #00246b;
}

.container{
    height: 350px;
    width: 400px;
    /* padding: 25px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    background-color: #cadcfc;
}
.container form{
    width: 100%;
    padding: 10px;
    /* background-color: palegreen; */
}
.container h3{
    margin: 10px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    color: #00246b;
    border-bottom: 1.5px solid #00246b;
}
 .container div{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
 }
.container input{
    width: 100%;
    padding: 10px;  
    margin: 20px 0px 10px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    text-shadow: 3px 3px 2px rgba(36, 79, 248, 0.25);
    box-shadow: #00246b 1px 1px 4px;
}
.container button{
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 10px; 
    background-color:  #00246b;
    color:  #cadcfc;
}
.container button:hover{
    font-weight: bold;
    border: 1px solid;
    transition: 0.4s ease-in; 
    color:  #00246b;
    background-color:  #cadcfc;
}
.submitOtp{
    padding: 0px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}
.container .newPassword{
    display: flex;
    flex-direction: column;
}
/* *******   RESPONSIVE   ******** */


@media only screen and (max-width:500px){
    .container{
        width: 80%;
    }
}
/*---------------------
  Forget Password - End 
----------------------*/

/*----------------------
 Forget Password - start
-----------------------*/
@media screen and (max-width: 450px) {
    #forgetPassword .forgetPasswordContainer{
        width: 100%;
        height: 100vh;
    }
    #forgetPassword .forgetPasswordContainer .container{
        width: 100%;
        height: 100%;
        box-shadow: none;
    }
  }
  /*---------------------
   Forget Password - End
  ----------------------*/