/* IMPORT header CSS */
@import url("header.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
li{
    list-style: none;
}

/*------------------------
  Forget Password - start 
------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
li{
    list-style: none;
}
.cointainer{
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

/* ********   LOGIN-PAGE   ********** */


#login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cadcfc;
    background-color: #00246b;
}

#login .loginCointainer{
    height: 450px;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    background-color: #cadcfc;
}

#login .loginCointainer .loginTitle h2{
    text-align: center;
    text-shadow: 1px 2px 1px #7d7a7a;
    padding: 10px;
    color: #00246b;
}

#login .loginCointainer form{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login .loginCointainer form input{
    width: 100%;
    padding: 8px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    text-shadow: 3px 3px 2px rgba(36, 79, 248, 0.25);
    box-shadow: #00246b 1px 1px 4px;
}
#login .loginCointainer .otpSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#login .loginCointainer .otpSection input{
    width: 60%;
}


#login .loginCointainer form .loginButton{
    width: 100%;
}
#login .loginCointainer form .loginButton button{
    width: 100%;
    cursor: pointer;
    padding: 12px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 20px;
    
    background-color:  #00246b;
    color:  #cadcfc; 
}

#login .loginCointainer .otpSection button{
    cursor: pointer;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 30px;
    text-transform: capitalize;
    margin-top: 20px; 
    background-color:  #00246b;
    color:  #cadcfc;
}
#login .loginCointainer form .loginButton button:hover  {
    box-shadow: 0.8px 0.8px 3px 3px #c1c0c0;
    font-weight: bold;
    border: none;
    transition: 0.8s ease-in;
    background-color: rgb(250, 250, 250);
    color: rgb(60, 170, 210);
}

#login .loginCointainer form .createAccount{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 25px 0px 15px;
}

#login .loginCointainer form .createAccount a{
    color:  rgb(60, 170, 210);
    font-weight: 600;   
}


/* *******   RESPONSIVE   ******** */


@media only screen and (max-width:500px){
    #login .loginCointainer{
        width: 80%;
    }
}
/*---------------------
  Forget Password - End 
----------------------*/





/*----------------------
 Forget Password - start
-----------------------*/
@media screen and (max-width: 450px) {
    #forgetPassword .forgetPasswordContainer{
        width: 100%;
        height: 100vh;
    }
    #forgetPassword .forgetPasswordContainer .container{
        width: 100%;
        height: 100%;
        box-shadow: none;
    }
    #forgetPassword .forgetPasswordContainer .container input{
      width: 80%;
    }
    #forgetPassword .forgetPasswordContainer .container .forgetPasswordLink{
      width: 80%;
    }
  }
  /*---------------------
   Forget Password - End
  ----------------------*/