/* IMPORT header CSS */
@import url("header.css");

/* IMPORT footer CSS */
@import url("footer.css");

/* ==========HOME-SECTION============ */

#home{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 49px  center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #00246b;
    color: #cadcfc;
}
#home span{
    color: rgb(253, 118, 69);
}
#home button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    color: #cadcfc;
    background-color: #ff6f3e;
    color: #00246b;
    padding: 13px 30px;
    text-transform: uppercase;
    transition: 0.3s ease;
}
#home button:hover{
    letter-spacing: 1px;
    background-color: #fa8c67;
}

.feature{
    height: 100%;
    width: 100%;
    padding: 80px 50px 20px;
    display: flex;
    grid-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #cadcfc;
    color: #00246b;
}

.feature .featureCointainer{
    height: auto;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 200;
    border: 1px solid #bdbcbc;
    padding: 10px;
}

.feature .featureCointainer .icon{
    height: auto;
    width: 30%;
}
.feature .featureCointainer .info h4{
    font-size: 3vmin;
    padding: 4px;
}



/* =================SHOP================ */

#brands{
    background-color: #cadcfc;
}

#shop .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.one {
    position: relative;
}
#shop .one:hover .detali{
    background-color: rgba(245, 178,178, 0.5);
    cursor: pointer;
}
.one .detali button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 8px 17px;
    text-transform: uppercase;
    transition:scale 0.2s ease;
}
.detali h3{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.detali button:hover{
    scale: 1.05;
    color: #000;
    background-color: rgb(255, 136, 156);
}
.one .detali{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}
#shop .one:nth-child(1) .detali{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#shop .one:nth-child(2) .detali{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#shop .one:nth-child(3) .detali{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

/* =============FEATURED======== */

    .line{
        height: 4px;
        width: 45px;
        border-radius: 10px;
        background-color:#ff6f3e;
    }
    .product img{
        height: 220px;
        width: 170px;
    }
    .product{
        cursor: pointer;
        margin-bottom: 2rem;
        
    }
    .product img{
        transition: 0.3s all;
    }
    .product:hover img{
        opacity: 0.7;
    }

    .product button{
        background-color: #ff6f3e;
        transform: translateY(20px);
        opacity: 0;
        color: #fff;
        border-radius: 2px;
        border: none;
        outline: none;
        padding: 4px 7px;
        text-transform: capitalize;
        font-weight: 600;
        transition: 0.3s all;
      
    }
    .product:hover button{
        transform: translateY(0);
        opacity: 1;
    }
    .product button:hover{
        scale: 1.03;
    }
    .product .star i{
        color: goldenrod;
    }

/* ===============Banner============ */
#banner{
    background-image: url('back2.jpg');
    width: 100%;
    height: 60vh;
    color: #fff;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: red;
}
#banner h4{
    color: orange;
    font-weight:600 ;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#banner h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#banner button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    margin-top: 12px ;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 9px 23px;
    text-transform: uppercase;
    transition: 0.3s ease;
}
#banner button:hover{
    background-color: #333;
}
/* ===========wathches========= */
    #watch .product img{
        opacity: 0.7;
        transition: 0.3s all;
    }
    #watch .product:hover img{
        opacity: 1;
    }

/* ===============footer=========== */
    footer{
        background-color: #000;
    }
    footer h5{
        font-size: 1.4rem;
        color: #fff;
        letter-spacing: 1px;
    }
    footer a{
        
        text-decoration: none;
        color: rgb(128, 128, 128);
    }
    footer a:hover{
        color: blue;
        border-bottom: 1px solid blue;
    }
    footer p{
        color:rgb(206, 204, 204) ;
    }
    footer h6{
        color:  #fa8c67;
    }
    footer .insta img{
        height: 60px;
        width: 80px;
        margin-bottom: 4px;
    }
    footer .copyright a{
        color: #000;
        width: 34px;
        height: 34px;
        background-color: #fff;
        display: inline-block;
        text-align: center;
        line-height: 34px;
        border-radius: 50%;
        transition: 0.3s ease;
        margin: 0 5px;
    }
    footer .copyright a:hover{
        color: #fff;
        background-color: blue;
    }
/* =========media-quiry====== */
@media(max-width:882px){
    #home{
        height: 80vh;
    }
    
}
@media (max-width:778px){
    #home{
        height: 60vh;
    }
}
@media(max-width:667px){
    #banner{
        height: 50vh;
    }
}
@media(max-width:580px){
    .Navbar .links, .Navbar .action_btn{
        display: none;

    }
    #home{
        height: 50vh;
    }
   
    #sidebar{
        display: block;
    }
     .toggle_btn{
        display: block;
    }
    
    .sidesearch{
        display: block;
    }
}
@media(max-width:575px){
    .product img{
        height: 390px;
        width: 310px;
    }
    #swipercloths{
        display: block;
    }
    #products{
        display: none;
    }
    #banner{
        height: 40vh;
       
    }
}
@media(max-width:512px){
    #home{
        height: 40vh;
    }
}
@media(max-width:500px){
    form .half{
        flex-direction: column;
    }
    form .half .item{
        width: 100%;
    }
    form .action{
        display: flex;
        flex-direction: column;
    }
    form .action input{
        margin-bottom: 10px;
    }
}
@media(max-width:425px){
    .product img{
        height: 320px;
        width: 270px;
    }
    #swipercloths .product img{
        height: 300px;
        width: 270px;
    }
    #home h5{
        font-size: 1rem;
    }
    #home h1{
        font-size: 1.5rem;
    }
    #home button{
        padding: 10px 16px;
    }
}


#featured,
#products,
#banner{
    margin-top: 0px !important; 
    margin-bottom: 0px !important; 
    padding-top: 1px !important;
    background-color: #cadcfc;
    color: #00246b
}   