/* IMPORT header CSS */
@import url("header.css");

/* IMPORT FOOTER CSS */
@import url("footer.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
li{
    list-style: none;
}


/* **********************   LOGIN-PAGE   ************************** */


#login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00246b;
}

#login .loginCointainer{
    height: 450px;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    /* box-shadow: 1px 1px 6px 6px #f1710982; */
    background-color: #cadcfc;
    color: #00246b;

}

#login .loginCointainer .loginTitle h2{
    text-align: center;
    padding: 10px;
    color: #00246b;
    font-size: 28px;
    letter-spacing: 1.5px;
}

#login .loginCointainer form{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login .loginCointainer form input{
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    text-shadow: 3px 3px 2px rgba(36, 79, 248, 0.25);
    box-shadow: #00246b 1px 1px 4px;
}

#login .loginCointainer form input:first-child{
    margin-top: 10px;
}

#login .loginCointainer form .forgetPassword{
    width: 100%;
    margin-top: 10px;
    padding: 15px 10px;
}
#login .loginCointainer form a{
    color:  #00246b;
    font-weight: 600;  
}

#login .loginCointainer form .loginButton{
    width: 100%;
}
#login .loginCointainer form .loginButton button{
    width: 100%;
    cursor: pointer;
    padding: 12px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 20px; 
    background-color:  #00246b;
    color:  #cadcfc;
}
#login .loginCointainer form .loginButton button:hover  {
    font-weight: bold;
    border: 1px solid;
    transition: 0.4s ease-in; 
    color:  #00246b;
    background-color:  #cadcfc;
    
}

#login .loginCointainer form .createAccount{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px 15px;
}

#login .loginCointainer form .createAccount a{
    color:  #00246b;
    font-weight: 600;   
}

/************************* Footer ***********************/
#footer{
    background-color: #cadcfc;
    color: #00246b;
}

#footer .footerLinks a{
    color: #00246b;
}

#footer .socialMediaLinksContainer {
    border-bottom: 1px solid #00246b;
  }

  #footer .copyRightContainer {
    text-align: center;color: #00246b;
  }

/* *******************   RESPONSIVE   ******************** */


@media only screen and (max-width:500px){
    #login .loginCointainer{
        width: 100%;
    }
}