/* IMPORT header CSS */
@import url("header.css");

/* IMPORT FOOTER CSS */
@import url("footer.css");


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  text-transform: capitalize;
}
li{
  list-style: none;
}

/*--------------
Product - start
------------- */
#productSection {
  display: flex;
  flex-direction: column;
  padding: 100px 0px 50px;
  width: 100%;
  position: relative;
  background-color: #00246b;
}
#productSection .productCategoryAndSort{
  display: flex;
  justify-content: end;
  align-items: end;
  grid-gap: 40px;
  padding: 20px 40px 40px;
  text-shadow: 3px 3px 2px rgba(36, 79, 248, 0.25);
  color: #cadcfc;
}

#productSection .productCategory{
  display: flex;
  grid-gap: 20px;
  text-shadow: 3px 3px 2px rgba(36, 79, 248, 0.25);
  color: #cadcfc;
}
#productSection .productSort{
  display: flex;
  grid-gap: 20px;
  text-shadow: 3px 3px 2px rgba(36, 79, 248, 0.25);
  color: #cadcfc;
}
#productSection .productCategoryAndSort select{
  border: none;
  padding: 5px 10px;
  outline: none;
  text-shadow: 3px 3px 2px rgba(36, 79, 248, 0.25);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: transparent;
  border: 1px solid #cadcfc;
  color: #cadcfc;
}

 .product
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  align-items: center;
  margin-top: 50px;
}

 .headingAndButton{
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center; 
}
 .headingAndButton .heading{
  width: 95%;
  display: flex;
  align-items: start;
  justify-content: start;
}
.headingAndButton .heading h2 {
  width: 100%;
  letter-spacing: 1.5px;
  margin-left: 80px;
}


 .productsContainer {
  width: 95%;
  display: flex;
  flex-direction: row;
  grid-gap: 30px;
  margin-top: 50px;
  margin: 0;
  padding: 30px 80px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

 .productsContainer .individualProductBox {
  width: 300px;
  height: 400px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  flex-basis: 300;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -2px,rgba(0, 0, 0, 0.3) 0px 3px 6px -3px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
              
  color: #00246b;
  background-color: #87cefa;
  transition: 0.8s ease;
}
 .productsContainer .individualProductBox:hover {
transform: translateY(-5px);
}

.productsContainer .individualProductBox .individualProductImageContainer {
  width: 100%;
  max-height: 300px;
  margin-bottom: 20px;
}

.productsContainer .individualProductBox .individualProductImageContainer img {
  width: auto;
  height: 200px;
}


.productsContainer .individualProductBox  .productName,
.productsContainer .individualProductBox .productPrice,
.productsContainer .individualProductBox .productRating
{
  width: 80%;
  font-size: 17px;
  margin: 2px;
  text-align: start;
}

.productsContainer .individualProductBox .productRating{
  display: flex;
  justify-content: start;
  align-items: center;
  grid-gap: 10px;
  margin-top: 10px;
}
.productsContainer .individualProductBox .productRating i{
  color: rgb(255, 132, 0);
}

.productsContainer .individualProductBox .addToCart{
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0px;
}
.productsContainer .individualProductBox .addToCart button{
  cursor: pointer;
  border: none;
  background-color: #00246b;
  color: #cadcfc;
  letter-spacing: 1px;
  border-radius: 2px;
  padding: 8px 25px;
}


/************************* Footer ***********************/
#footer{
  background-color: #cadcfc;
  color: #00246b;
}

#footer .footerLinks a{
  color: #00246b;
}

#footer .socialMediaLinksContainer {
  border-bottom: 1px solid #00246b;
}

#footer .copyRightContainer {
  text-align: center;color: #00246b;
}
.product span{
        
  margin-top: 5px;
  font-size: 25px;
}
.product span.active{
  color: #f16108;
}



/*--------------
Product - End
------------- */

/*----------------------
   media Query - Start 
-----------------------*/


/*------------------
   Product - start 
-------------------*/
@media screen and (max-width: 700px) {
  #productSection .leftFilterSection {
  float: left;
  width: 80px;
  text-align: right;
  position: fixed;
  margin-top: -50px;
}
#productSection .showFilters {
  width: 300px;
  float: none;
  z-index: 2;
}
#productSection .productContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
#productSection .reduceWidth {
  z-index: 1;
  width: 100%;
  float: none;
  margin: 0 auto;
}
}
/*------------------
   Product - End 
-------------------*/

/*----------------------
   media Query - End 
-----------------------*/
