/* IMPORT header CSS */
@import url("header.css");

/* IMPORT FOOTER CSS */
@import url("footer.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
li{
    list-style: none;
}
.cointainer{
    height: 100%;
    width: 100%;
}

/* **********************   LOGIN-PAGE   ************************** */


#registration{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00246b;
}

#registration .registrationCointainer{
    width: 400px;
    height: 500px;
    margin: 50px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #cadcfc;

}

#registration .registrationCointainer .registrationTitle h2{
    text-align: center;
    padding: 10px;
    letter-spacing: 1.5px;
    color: #00246b;
}

#registration .registrationCointainer form{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#registration .registrationCointainer form input{
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    color: #cadcfc;
    text-shadow: 3px 3px 2px rgba(36, 79, 248, 0.25);
    box-shadow: #00246b 1px 1px 4px;
}

#registration .registrationCointainer form .registrationButton{
    width: 100%;
}
#registration .registrationCointainer form .registrationButton button{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 35px 0px 10px; 
    background-color:  #00246b;
    color:  #cadcfc;
}
#registration .registrationCointainer form .registrationButton button:hover{
    font-weight: bold;
    border: 1px solid;
    transition: 0.4s ease-in; 
    color:  #00246b;
    background-color:  #5086e4;
}

/************************* Footer ***********************/
#footer{
    background-color: #cadcfc;
    color: #00246b;
}

#footer .footerLinks a{
    color: #00246b;
}

#footer .socialMediaLinksContainer {
    border-bottom: 1px solid #00246b;
  }

  #footer .copyRightContainer {
    text-align: center;color: #00246b;
  }



/* *******************   RESPONSIVE   ******************** */


@media only screen and (max-width:500px){
    #registration .registrationCointainer{
        width: 80%;
    }
}