*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
li{
    list-style: none;
}
#dashboardHeader{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #cadcfc;
    border-bottom: 1px solid #5086e4;
    
}
#dashboardHeader .logoAndBars{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#dashboardHeader .logoAndBars img{
    height: 200px;
}
#dashboardHeader .logoAndBars i{
    display: none;
    font-size:  25px;
}
#dashboardHeader .profile{
    width: 40px;
    height: 40px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00246b;
    border-radius: 50%;
}
#dashboardHeader .profile i{
    width: 100%;
    height: auto;
    color: #00246b;
}
/*--------------
 Header - End 
---------------*/


#dashboardContainer{
    width: 100%;
    height: 89%;
    display: flex;
}
/*--------------------------
 Dashboard left side - start 
---------------------------*/
#dashboardContainer .leftSide{
    width: 18%;
    min-width: 300px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: silver;
    overflow: scroll;
    scrollbar-width: none;
    z-index: 6;
    background-color: #cadcfc;
}
#dashboardContainer .leftSide ul{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-top: 20px;
}

#dashboardContainer .leftSide ul a{
 margin: 5px;
 padding: 7px;
 width: 80%;
 border-radius: 9px;
 flex-direction: row;
 transition: all 0.2s ease;
 background-color: #00246b;
}

#dashboardContainer .leftSide ul a:hover{
    background-color: #5086e4;    
}
#dashboardContainer .leftSide ul a img{
    height: 2vw;
    width: 2vw;
    margin:0 12px;
}
#dashboardContainer .leftSide ul li{
    color: #fff;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* left Side Responsive */
@media screen and (max-width: 990px) {
    #dashboardContainer .leftSide{
        width: 100%;
        display: flex;
        justify-content: start;
        text-align: end;
        align-items: end;
        height: 0px;
        transition: .5s ease-in-out;
        background-color: #fff;
        position: absolute;
     box-shadow: 0 30px 30px -10px rgb(0 0 0 / 0.25);
}
#dashboardContainer .leftSide ul{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        line-height: 50px;
        opacity: 0;
        transition: .1s ease-in-out;
}   
  #dashboardHeader .logoAndBars i{
    display: block;
}

#dashboardContainer .leftSide.active{
    height: 100vh;
}
#dashboardContainer .leftSide ul.visible{
    opacity: 1;
    transition: 2s ease-in-out;
}

}


/*--------------------------
 Dashboard left side - end
---------------------------*/

/*--------------------------
 Dashboard Right side - start 
---------------------------*/
#dashboardContainer .rightSide {
    width: 80%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #00246b;
}

.rightSide .orderHistoryBox {
    height: 93%;
    width: 93%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderHistoryBox ul {
    height: 93%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    position: relative;
}

.orderHistoryBox #headerOflist {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #5086e4;
    color: #00246b;
    backdrop-filter: blur(0.9rem);
}

.orderHistoryBox ul li {
    min-height: 50px;
    width: 99%;
    position: relative;
    list-style: none;
    margin: 1vw 0;
    border-radius: 15px;
    color: #00246b;
    background-color: #cadcfc;
    display: flex;
    text-align: center;
    align-content: flex-start;
}

.orderHistoryBox ul li div {
    display: flex;
    align-items: center;
    margin: 0 15px;
    font-weight: 900;
    width: 100%;
    position: relative;
    justify-content: center;
}

.listOfHistory div {
    font-weight: 400 !important;
}

.action .actionbox {
    height: 100%;
    border-left: 1px solid #5086e4;
    /* border-radius: 12px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: all ease 0.5s;
}

.action .actionbox div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 30%; */
    font-size: 13px;
}
.action .actionbox div a{
    font-size: 13px;
}



/*--------------------------
 Dashboard Right side - end 
---------------------------*/

/*--------------------------
 Dashboard - End 
---------------------------*/


/*---------------------
 Media Query - start 
----------------------*/
@media screen and (max-width:1100px) {
    .action .actionBtn .dots {
        height: 5px; 
        width: 5px;  
        
    }
}
@media screen and (max-width: 990px) {
    #dashboardContainer .leftSide {
        width: 100%;
        z-index: 4;
        display: flex;
        justify-content: start;
        text-align: end;
        align-items: end;
        height: 0px;
        transition: 0.5s ease-in-out;
        background-color: #fff;
        position: absolute;
        box-shadow: 0 30px 30px -10px rgb(0 0 0 / 0.25);
    }

    #dashboardContainer .leftSide ul {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        line-height: 50px;
        opacity: 0;
        transition: 0.1s ease-in-out;
    }

    #dashboardHeader .logoAndBars i {
        display: block;
    }

    #dashboardContainer .leftSide.active {
        height: 100vh;
    }

    #dashboardContainer .leftSide ul.visible {
        opacity: 1;
        transition: 2s ease-in-out;
    }

    #dashboardContainer .rightSide {
        height: 90vh;
        width: 100%;
    }

    .rightSide .orderHistoryBox {
        width: 100%;
    }
}

/* Responsive for 775px */
@media (max-width: 775px) {
    #orderHistoryBox {
        width: 100%;
        padding: 10px;
    }
    
    #orderHistoryBox ul li {
        font-size: 14px;
        padding: 8px 0;
    }
    
    #orderHistoryBox ul li div {
        display: block; /* Ensure divs inside li are block elements */
        width: 100%; /* Full width for divs */
        overflow: visible; /* Prevent hidden content */
    }
}

/* Responsive for 566px */
@media (max-width: 566px) {
    .orderHistoryBox ul {
        /* height: 90vh; */
        flex-direction: row;
        overflow-x: scroll; 
        overflow-y: hidden;
    }
    .orderHistoryBox ul li {
        min-width: 70px;
        height: 99%;
        margin-right: 12px;
        flex-direction: column;
        align-items: center;
        /* overflow: hidden; */
        justify-content: space-around;
    }
    
    .action .actionbox {
        border-left: none;
    }
}


/*---------------------
 Media Query - End 
----------------------*/

