*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
li{
    list-style: none;
}
#dashboardHeader{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #cadcfc;
    border-bottom: 1px solid #5086e4;
    
}
#dashboardHeader .logoAndBars{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#dashboardHeader .logoAndBars img{
    height: 200px;
}
#dashboardHeader .logoAndBars i{
    display: none;
    font-size:  25px;
}
#dashboardHeader .profile{
    width: 40px;
    height: 40px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00246b;
    border-radius: 50%;
}
#dashboardHeader .profile i{
    width: 100%;
    height: auto;
    color: #00246b;
}
/*--------------
 Header - End 
---------------*/



#dashboardContainer{
    width: 100%;
    height: 89%;
    display: flex;
}
/*--------------------------
 Dashboard left side - start 
---------------------------*/
#dashboardContainer .leftSide{
    width: 18%;
    min-width: 300px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    overflow: scroll;
    scrollbar-width: none;
    z-index: 6;
    background-color: #cadcfc;
}
#dashboardContainer .leftSide ul{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-top: 20px;
}
#dashboardContainer .leftSide ul li{
    width: 200px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dashboardContainer .leftSide ul li{
    margin: 5px;
    padding: 7px;
    width: 80%;
    border-radius: 9px;
    flex-direction: row;
    transition: all 0.2s ease;
    grid-gap: 15px;
    background-color: #00246b;
    color: #cadcfc;
}

#dashboardContainer .leftSide ul li a{
    color: #cadcfc;
}

#dashboardContainer .leftSide ul li:hover{
   background-color: #5086e4;
}


/* left Side Responsive */
@media screen and (max-width: 990px) {
    #dashboardContainer .leftSide{
        width: 100%;
        display: flex;
        justify-content: start;
        text-align: end;
        align-items: end;
        height: 0px;
        transition: .5s ease-in-out;
        background-color: #fff;
        position: absolute;
     box-shadow: 0 30px 30px -10px rgb(0 0 0 / 0.25);
}
#dashboardContainer .leftSide ul{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        line-height: 50px;
        opacity: 0;
        transition: .1s ease-in-out;
}   
  #dashboardHeader .logoAndBars i{
    display: block;
}

#dashboardContainer .leftSide.active{
    height: 100vh;
}
#dashboardContainer .leftSide ul.visible{
    opacity: 1;
    transition: 2s ease-in-out;
}

}

/*--------------------------
 Dashboard left side - end
---------------------------*/

/*--------------------------
 Dashboard Right side - start 
---------------------------*/
#dashboardContainer .rightSide{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    overflow: scroll;
    scrollbar-width: none;
    background-color: #00246b;
}

/* Edit Profile Section */
#dashboardContainer .rightSide .editProfile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
#registration{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registration .registrationCointainer{
    width: 450px;
    margin: 50px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #cadcfc;

}

#registration .registrationCointainer .registrationTitle h2{
    text-align: center;
    padding: 10px;
    letter-spacing: 1.5px;
    color: #00246b;
}

#registration .registrationCointainer form{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#registration .registrationCointainer form input{
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    background-color: transparent;
    color: #cadcfc;
    text-shadow: 3px 3px 2px rgba(36, 79, 248, 0.25);
    box-shadow: #00246b 1px 1px 4px;
}

#registration .registrationCointainer form .registrationButton{
    width: 100%;
}
#registration .registrationCointainer form .registrationButton button{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 35px 0px 10px; 
    background-color:  #00246b;
    color:  #cadcfc;
}
#registration .registrationCointainer form .registrationButton button:hover{
    font-weight: bold;
    border: 1px solid;
    transition: 0.4s ease-in; 
    color:  #00246b;
    background-color:  #5086e4;
}




/*--------------------------
 Dashboard Right side - End 
---------------------------*/



/*---------------------
 Media Query - start 
----------------------*/

/*---------------------
 Address Popup - start 
----------------------*/
@media screen and (max-width: 450px) {
    #addressPopup .container{
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
    #addressPopup .container .formBox{
        width: 100%;
        height: 100%;
    }
    #addressPopup .container form .formBox input{
      width: 80%;       
    }
}
/*---------------------
 Address Popup - End 
----------------------*/

/*---------------------------
 Edit Profile page - start
----------------------------*/
@media screen and (max-width: 625px) {
    #dashboardContainer .rightSide .editProfile form .names{
        width: 100%;
        flex-direction: column;
    }
    #dashboardContainer .rightSide .editProfile form .birthAgeAndGender{
        width: 100%;
        flex-direction: column;
    }
    #dashboardContainer .rightSide .editProfile form .stateAndCountry{
        width: 100%;
        flex-direction: column;
    }
    #dashboardContainer .rightSide .editProfile form .names input{
        width: 90%;
    }
    #dashboardContainer .rightSide .editProfile form .birthAgeAndGender input{
        width: 90%;
    }
    #dashboardContainer .rightSide .editProfile form .stateAndCountry input{
        width: 90%;
    }
    #dashboardContainer .rightSide .editProfile form input{
        width: 90%;
    }
    #dashboardContainer .rightSide .editProfile form .emailContact{
        width: 100%;
    }
    #dashboardContainer .rightSide .editProfile form .zipAndCity{
        width: 100%;
    }
}

/*---------------------------
 Edit Profile page - End
----------------------------*/
/*---------------------------
 Address Details page -start
----------------------------*/
@media screen and (max-width: 1450px) {
    #addressContainer #addressDetails{
        max-width: 900px;
    }
}
@media screen and (max-width: 1335px) {
    #addressContainer #addressDetails{
        max-width: 700px;
    }
}
@media screen and (max-width: 1100px) {
    #addressContainer #addressDetails{
        max-width: 600px;
    }
}
@media screen and (max-width: 990px) {
    #addressContainer #addressDetails{
        max-width: 800px;
    }
}
@media screen and (max-width: 845px) {
    #addressContainer #addressDetails{
        max-width: 600px;
    }
}
@media screen and (max-width: 635px) {
    #addressContainer #addressDetails{
        max-width: 500px;
    }
    #addressContainer #addressDetails .infoRow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 635px) {
    #addressContainer #addressDetails{
        max-width: 300px;
    }
}
/*---------------------------
 Address Details page -start
----------------------------*/

/*---------------------
 Media Query - End 
----------------------*/

