*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
li{
    list-style: none;
}
#dashboardHeader{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #cadcfc;
    border-bottom: 1px solid #5086e4;
    
}
#dashboardHeader .logoAndBars{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#dashboardHeader .logoAndBars img{
    height: 200px;
}
#dashboardHeader .logoAndBars i{
    display: none;
    font-size:  25px;
}
#dashboardHeader .profile{
    width: 40px;
    height: 40px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00246b;
    border-radius: 50%;
}
#dashboardHeader .profile i{
    width: 100%;
    height: auto;
    color: #00246b;
}
/*--------------
 Header - End 
---------------*/



#dashboardContainer{
    width: 100%;
    height: 89%;
    display: flex;
}
/*--------------------------
 Dashboard left side - start 
---------------------------*/
#dashboardContainer .leftSide{
    width: 18%;
    min-width: 300px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    overflow: scroll;
    scrollbar-width: none;
    z-index: 6;
    background-color: #cadcfc;
}
#dashboardContainer .leftSide ul{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-top: 20px;
}
#dashboardContainer .leftSide ul li{
    width: 200px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dashboardContainer .leftSide ul li{
    margin: 5px;
    padding: 7px;
    width: 80%;
    border-radius: 9px;
    flex-direction: row;
    transition: all 0.2s ease;
    grid-gap: 15px;
    background-color: #00246b;
    color: #cadcfc;
}

#dashboardContainer .leftSide ul li a{
    color: #cadcfc;
}

#dashboardContainer .leftSide ul li:hover{
   background-color: #5086e4;
}

/* left Side Responsive */
@media screen and (max-width: 990px) {
    #dashboardContainer .leftSide{
        width: 100%;
        display: flex;
        justify-content: start;
        text-align: end;
        align-items: end;
        height: 0px;
        transition: .5s ease-in-out;
        background-color: #fff;
        position: absolute;
     box-shadow: 0 30px 30px -10px rgb(0 0 0 / 0.25);
}
#dashboardContainer .leftSide ul{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        line-height: 50px;
        opacity: 0;
        transition: .1s ease-in-out;
}   
  #dashboardHeader .logoAndBars i{
    display: block;
}

#dashboardContainer .leftSide.active{
    height: 100vh;
}
#dashboardContainer .leftSide ul.visible{
    opacity: 1;
    transition: 2s ease-in-out;
}

}


/*--------------------------
 Dashboard left side - end
---------------------------*/

/*--------------------------
 Dashboard Right side - start 
---------------------------*/
#dashboardContainer .rightSide{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: #00246b;
}
#dashboardContainer .rightSide .orderHistorySection{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    flex-direction: column;
    scrollbar-width: none;
    overflow: scroll;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer{
    width: 1200px;
    height: 500px;
    margin: 30px 0px;
    border-radius: 10px;
    padding: 20px;
    background-color: #cadcfc;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderTopDetails{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #cadcfc;
    border-bottom: 1px solid #00246b;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderTopDetails .leftDetail{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 25px;
}

#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderTopDetails .leftDetail h6{
    font-size: 15px;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderTopDetails .rightDetail{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 25px;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderTopDetails .rightDetail .orderId{
    display: flex;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderTopDetails .rightDetail .viewOrderDetailsAndInvoice{
    display: flex;
    font-size: 15px;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails{
    width: 80%;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .leftHeading{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-top: 20px;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .product{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: start;
    margin: 40px 0px 0px 20px;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .product .productImage{
    width: 150px;
    height: 120px;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .product .productImage img{
    width: 100%;
    height: 100%;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .product .productName{
    width: 600px;
    padding-top: 10px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}

#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .product .productName h4{
    margin: 8px 15px;
    font-size: 18px;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .leftButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .leftButtons button{
    width: 200px;
    padding: 15px 25px;
    letter-spacing: 1px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: #00246b;
    color: #cadcfc;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .leftButtons button:hover{
    background-color: #5086e4;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .leftButtons button:nth-child(1){
    margin-right: 10px;
}

#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails{
    width: 50%;
    height: 100%; 
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails .rightButtons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails .rightButtons button{
    width: 300px;
    border-radius: 30px;
    padding: 15px 25px;
    margin-bottom: 10px;
    outline: none;
    background-color: #fff;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    background-color: #00246b;
    color: #cadcfc;
}
#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails .rightButtons button:hover{
    background-color: #5086e4;
}

#dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails .threeDot{
    display: none;
}
#dashboardContainer p{
    margin-left: 20px;
}

/*--------------------------
 Dashboard Right side - End 
---------------------------*/


/*----------------------
   media Query - Start 
-----------------------*/

/*---------------------
   orderHistory - start 
----------------------*/
@media screen and (max-width: 1520px) {
    #dashboardContainer .rightSide .orderHistorySection .orderContainer{
        width: 95%;
    }
    
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails{
        width: 70%;
    }
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails{
        width: 30%;
    }
    
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails .rightButtons button{
        width: 90%;
        padding: 11px 20px;
    }
}



@media screen and (max-width: 750px) {
    
    #dashboardContainer .rightSide .orderHistorySection .orderContainer{
        height: 550px;
    }
    
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails{
        display: flex;
        flex-direction: column;
    }
    
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails{
        width: 100%;
    }
    
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .product .productImage{
        width: 100px;
        height: 90px;
    }
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderLeftDetails .product .productImage img{
        width: 100px;
        height: 90px;
    }
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails{
        width: 100%;
        margin-top: 10px;
    }
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails .rightButtons{
        display: flex;
        flex-direction: row;
    }
    
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails .rightButtons button{
        width: 300px;
        height: 70px;
        font-size: var(--midiumFont);
        font-weight: var(--midiumFontWeight);
        border-radius: 5px;
        padding: 8px 10px;
        margin: 5px;
    }
}


@media screen and (max-width: 600px) {
   
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails{
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
    } 
    
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails .rightButtons{
        display: none;
    }
    #dashboardContainer .rightSide .orderHistorySection .orderContainer .orderBottomDetails .orderRightDetails .threeDot{
        display: block;
        position: absolute;
        right: 30px;
        font-size: 20px;
    }
}

/*----------------------
   media Query - end 
-----------------------*/

/*---------------------
   orderHistory - end 
----------------------*/

